/****** PLACE YOUR CUSTOM STYLES HERE ******/

@import url("../fonts/helvetica/MyFontsWebfontsKit.css");


.blau		{ color:#1F273D;}
.orange		{ color:#f1a655;}

img.logo     { vertical-align: baseline;}

h1.produkt-name	{ font-size:75px; line-height:80px; }
h6.produkt-art	{ font-size:25px;}
p.produkt-liste	{ font-size:30px; line-height:40px;}


@media all and (max-width: 990px) {
  h1.produkt-name {
    font-size: 56px;
    line-height: 64px;
  }
}


@media all and (max-width: 767px) {
  h1.produkt-name {
    font-size: 25px;
    line-height: 35px;
  }

	h6.produkt-art {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }
}

@media all and (max-width: 767px) {
p.produkt-liste {
    font-size: 20px;
    line-height: 27px;
  }

}

/* BACK TO TOP */
/* the important styles */

.arrow-wrap {
  position:absolute;
  z-index:800;
  left:50%;
  top:120px;
  margin-left:-5em;
  background:#fff;
  width:7em;
  height:7em;
  padding:3em 1.55em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 3px 0px #ccc;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 2em 2em 0 2em;
	border-color: #4c82c3 transparent transparent transparent;
  -webkit-transform:rotate(360deg);
  transform: rotate(360deg);
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #fff transparent transparent transparent;
  -webkit-transform:rotate(360deg);
  transform: rotate(360deg);
}


.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}


.arrow-wrap:hover .hint {
  opacity:1;
}

  @keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }
  
  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
    animation: arrows 2.8s 0.4s;
    animation-delay: 3s;
  }

.col-md-6.nopad {
	padding-left: 0px;
	padding-right: 0px; 
  }
  
.cbx {
  margin: auto;
  -webkit-user-select: none;
  cursor: pointer;
}

.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0,0,0);
}

.cbx span:first-child {
      position: relative;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      transform: scale(1);
      vertical-align: middle;
      border: 1px solid #9098A9;
      transition: all .2s ease;
}
.cbx span svg {
  position: absolute;
        top: 3px;
        left: 2px;
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all .3s ease;
        transition-delay: .1s;
        transform: translate3d(0,0,0);
}

.cbx span svg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #4c81c1;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.cbx span:last-child {
  padding-left: 3px;
}

.cbx:hover span:first-child {
  border-color: #4c81c1
}

.inp-cbx:checked + .cbx span:first-child {
  background: #4c81c1;
  border-color: #4c81c1;
  animation: wave .4s ease;
}

.inp-cbx:checked + .cbx span svg{
  stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all .6s ease;
}

@keyframes wave {
  50% {
    transform: scale(.9);
  }
}

/*
.bf {
	position:absolute;
	top: 200px;
	right: 285px;
}
*/
.bf {
    position: absolute;
    top: 12%;
    right: 50%;
    left: 50%;
}


 .logo {
  width: 250px;
} 

@media (min-width: 1100px) {
  .logo {
    width: 250px !important;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 175px !important;
    max-width: 175px !important;
  }
}

 /* @media (min-width: 768px) and (max-width: 1280px) {
  .v-align-transform {
    position: absolute;
    left: 10%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
} */

/* Scroll */
.demo a {
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#scroll-mehr {
  display: flex;
}

.scroll-text {
  margin-left: 40px;
}

#scroll-mehr a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#scroll-mehr a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* End Scroll */


.title-text-container {
  margin-top: 10%;
}

@media (orientation: portrait) and (max-width: 1200px) {
  .title-text-container .highlight-h3 {
     font-size: 15px !important;
  }
  .title-text-container p {
    font-size: 12px !important;
 }
}

@media (max-width: 1300px) {
  .highlight-h3 {
    font-size: 18px;
  }
}

@media (min-width: 1100px) {
  #scroll-mehr {
    padding-top: 10%;
  }
}

@media (max-width: 1200px) {
  .title-text-container {
    margin-top: 10%;
  }
}

@media (orientation: portrait) and (max-width: 1200px) {
  .title-text-container .highlight-h3 {
     font-size: 15px !important;
  }
  .title-text-container p {
    font-size: 12px !important;
 }
}

.schwarz {
  color: #000 !important;
}

.atec-blue {
  color: #4B82C2 !important;
}

.container-newsletter {
  padding: 3rem 0;
}


.social-icons svg {
  margin-right: 1rem !important;
  color: #fff !important;
  font-size: 20px !important;
}

.social-icons svg:hover {
  opacity: 0.8 !important;
}

.social-icons i {
  font-size: 25px !important; 
}

@media (max-width: 800px) {
  .mobile-pl-pr {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}


/* Starseite 3 Column */
@media (min-width: 992px) {
  .lg-same-height-container .row {
    display: table;
  }
  .lg-same-height {
    float: none;
    display: table-cell;
    vertical-align: top;
    border: 10px solid rgba(31,39,61,0.5);
  }
  
}

.padding-xy-32 {
  padding: 3rem;
}

.btn-standard-blau {
  background-color: #1F273D;
  color: #fff;
 
}

.btn-standard-blau:hover {
  background-color: transparent;
  color: #1F273D;

}

.btn-standard-white {
  background: #fff;
  color: #1F273D;
  
}

.btn-standard-white:hover {
  background: transparent;
  color: #1F273D;
}

.text-white {
  color: #fff;
}

@media (min-width: 992px) {
  .anwendungsfelder .container {
    width: 1300px;
  }
}

.bg-blau {
  background-color: #1F273D;
}

.btn-on-blau {
  background: #fff;
  color: #1F273D !important;
  border: 2px solid #fff;
}

.btn-on-blau:hover {
  background-color: transparent;
  color: #fff !important;

}

h6 {
  text-transform: none !important;
}

.anwendungsfelder {
  padding-top: 60px;
}

.blue {
	color: #1F273D !important;
}

.hover-state {
	background-color: #1F273D !important;

	padding-top: 2rem;
	padding-bottom: 2rem;

}

@media (max-width: 991px) {
  .mobile-padding-top-null {
    padding-top: 0;
    padding-bottom: 0;
  }

  .anwendungsfelder {
    padding-top: 16px;
  }
}

